<!DOCTYPE html>
<html lang="en">
<head>
    <title>Even-Odd Calculator</title>
    <style>
        *{font-size: 40px;
            font-weight: bolder;
            color: rgb(70, 18, 18);
            font-family:Arial;
        background-color: bisque;}
    </style>
</head>
<body>
    <center>
        <h1>Even Odd Using Django</h1>
        <form>
            <input type="number" placeholder="Enter a number"
            name="num"/>
            <br></br>
            <input type="submit" value="Find"/>
        </form>
        <br></br>
                {{msg}}
    </center>
</body>
</html>