<!DOCTYPE html>
<html lang="en">
<head>
    <title>Square Root Finder</title>
    <style>
        *{font-size: 50px;
          font-weight: bold;
          background-color:blanchedalmond; 
          font-family: Geneva;}
    </style>
</head>
<body>
    <center>
        <h1>Sqaure Finder</h1>
        <form>
            <input type="number" placeholder="Enter A Number"
            name="num" step="any" required/>
            <br></br>
            <input type="submit" value="Find"/>
        </form>
                {{msg}}
    </center>
</body>
</html>