<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Square Root App By Darsh Patel</h1>
        <form method="get" onsubmit="return check()">
            <input type="number"
                placeholder="Enter Number"
                step="any"
                name="num"
                id="num"/>
                <br/>
                <br/>
            <input type="submit"
                value="Find Square Root"/>
        </form>
            {{msg}}
    </center>
</body>
</html>